<div class='box'>
  <h2>Some information about how cool we are!</h2>
  <p>Cows go moo, Ducks go quack, Pigs go oink.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione odio doloremque soluta quam tenetur officiis vero non laboriosam, neque dignissimos placeat voluptas voluptatem possimus. Veritatis voluptatum accusamus veniam cumque! Ea.</p>
  <form>
    <input type="email" validate='validate'/>
    <input type="submit">
  </form>
</div>